<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.SpuSaleAttrMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.gmall.model.product.SpuSaleAttr">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
        <result property="baseSaleAttrId" column="base_sale_attr_id" jdbcType="BIGINT"/>
        <result property="saleAttrName" column="sale_attr_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,spu_id,base_sale_attr_id,
        sale_attr_name
    </sql>

    <resultMap id="SpuSaleAttrList"
               type="com.atguigu.gmall.model.product.SpuSaleAttr"
               autoMapping="true">
        <id property="id" column="id"/>
        <collection property="spuSaleAttrValueList"
                    ofType="com.atguigu.gmall.model.product.SpuSaleAttrValue"
                    autoMapping="true">
            <id property="id" column="savId"/>
        </collection>
    </resultMap>

    <select id="getSpuSaleAttrList" resultMap="SpuSaleAttrList">
        select ssa.*,
               ssav.id savId,
               ssav.sale_attr_value_name
        from spu_sale_attr ssa
                 left join spu_sale_attr_value ssav
                           on ssa.spu_id = ssav.spu_id and ssa.base_sale_attr_id = ssav.base_sale_attr_id
        where ssa.spu_id = #{spuId}
        order by ssa.id, ssav.id
    </select>

    <select id="getSpuSaleAttrListAndMarkCheck" resultMap="SpuSaleAttrList">
        select ssa.*,
               ssav.id                                       savId,
               ssav.sale_attr_value_name,
               if(skuv.sale_attr_value_id is null, '0', '1') is_checked
        from spu_sale_attr ssa
                 left join spu_sale_attr_value ssav
                           on ssa.spu_id = ssav.spu_id and ssa.base_sale_attr_id = ssav.base_sale_attr_id
                 left join sku_sale_attr_value skuv
                           on ssav.id = skuv.sale_attr_value_id and skuv.sku_id = #{skuId}
        where ssa.spu_id = #{spuId}
        order by ssa.id, ssav.id
    </select>

    <select id="getValueSkuJson" resultType="com.atguigu.gmall.model.to.ValueSkuJsonTo">
        select result.sku_id,
               group_concat(DISTINCT result.spuSaleAttrValueId
                            ORDER BY result.spuSaleAttrValueId
                            ASC
                            SEPARATOR '|')
                   valueSkuJson
        from (select ski.id                   sku_id,
                     skuav.sale_attr_value_id spuSaleAttrValueId
              from sku_info ski
                       left join sku_sale_attr_value skuav
                                 on ski.id = skuav.sku_id
                       left join spu_sale_attr_value spuav
                                 on skuav.sale_attr_value_id = spuav.id
              where ski.spu_id = #{spuId}
              order by ski.id, spuav.base_sale_attr_id, skuav.sale_attr_value_id) result
        group by result.sku_id
    </select>
</mapper>
